.error {
    color : red
}
.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

  .Outercontainer{
    background-color: #f1f1f1;
    padding: 10px red;
    width: 580px;
    border: 1px solid #f1f1e7;
    margin: 10px auto;
  }

  .Outercontainer .container {
    
    background-color: #f1f1f1;
    padding: 50px;

    width: 400px;
    
    border: 5px solid #d6d7da;
    margin: 50px black;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    margin: 45px auto;
  }

  .button{
    background-color: yellowgreen;   
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;

  }

  input[type=button] {

    background-color: #04AA6D;
    color: white;
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;


    padding: 10px;
    border: solid 1px #BDC7D8;
  }

  .checkbox {
    margin-left: 5px;
    padding: 1px;
  }

  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }

  .Login{
    color: black;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
  }

  .line{
    width:100%;
    text-align:left;
  }

  .Label{
    color:black;
    text-align: left;
    font-weight: bold;
  }

  .centerAlign{
    text-align: center;
  }

  .ForgetPass{
    background-color: #f1f1f1;
    padding: 10px;

    width: 380px;
    border: 1px solid #d6d7da;
    border-radius: 5px;
    font-family: arial;
    line-height: 6px;
    color: #333333;
    font-size: 14px;
    margin: 20px auto;
  }
  .ForgetPassLink{
    float: right;
    padding: 7px;
  }
 